/* @author :Arjun Gautam */
/* layout */
html{
    background-color: rgba(0, 0, 0, 0.664);
}
.main{
    display:flex;
    /* 	Displays an element as a block-level flex container */
    padding: 1em;
    /* Relative to the font-size of the element (2em means 2 times the size of the current font) */
    height: 60vh;
    /* Relative to 1% of the height of the viewport* */
    justify-content: center;
    align-items: middle;
}
.clockbox,
#clock
{
    width: 100%;
}

/* clock styles */
.circle{
    
    fill:rgba(15, 15, 15, 0.788);
    stroke:rgba(14, 13, 13, 0.274);
    stroke-width: 15;
    stroke-miterlimit: 10;
}
.mid-circle{
    fill:wheat;
}
.hour-marks{
    fill:none;
    stroke:wheat;
    stroke-width:9;
    stroke-miterlimit: 10;

}
.hour-arm{
    fill: none;
    stroke:wheat;
    stroke-width: 15;
    stroke-miterlimit: 10;

}
.minute-arm{
    fill:none;
    stroke:wheat;
    stroke-width: 11;
    stroke-miterlimit: 10;

}
.second-arm{
    fill:none;
    stroke:wheat;
    stroke-width: 4;
    stroke-miterlimit: 10;
}
.sizing-box{
    fill:none;
}
#hour,
#minute,
#second{
    transform-origin :300px 300px;
    /* transition:transform .5s ease-in-out;*/    /*This will make and animation instead od tik tik on the clock */
    /* for animation of clock  */
}

.clock{
    background-color: black;
    color: white;
    font-size: 45px;
    border: 5px solid #ccc;
    padding: 12px 5px 10px 5px;
    text-align: center;
    max-width: 500px;
    margin: auto;
    margin-top: 0em;
}
.info{
    background-color: black;
    color: white;
    font-size: 35px;
    border: 5px solid #ccc;
    padding: 12px 5px 10px 5px;
    text-align: center;
    max-width: 500px;
    margin: auto;
    margin-top: 1em;
}
.laser{
position: absolute;
top:50%;
left: 50%;
transform: translateX(-50%) translateY(-1300%);
color:wheat;
font-size: 18px;
padding: 0px 5px 0px 5px;
font-family:cursive;
font-style:italic;
}